
<div class="card">
    <h5>Statistiques : Enchères terminées par Type et mois</h5>
    <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
</div>
<div class="card flex flex-column align-items-center">
    <h5 class="text-left w-full">Statistiques : Enchères terminées et enchères en cours</h5>
    <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
</div>


<div class="card flex flex-column align-items-center">
    <h5 class="text-left w-full">Statistiques : Enchères terminées par Type</h5>
    <p-chart type="polarArea" [data]="polarData" [options]="polarOptions"></p-chart>
</div>
<div class="card flex flex-column align-items-center">
    <h5 class="text-left w-full">Statistiques : Les types de Réclamation</h5>
    <p-chart type="pie" [data]="reclaamation" [options]="pieOptions"></p-chart>
</div>







