

<div *ngIf="showSuccess" class="success-dialog">
    <div class="success-content">
      <h3>Votre enchère a été ajoutée avec succès!</h3>
      <!-- Ajoutez d'autres informations ou actions si nécessaire -->
    </div>
  </div>
  
  <!-- hitoru -->
  
  <div class="history-container">
    <h2 class="primary">Liste des Encheres</h2>
    <div class="mobilite-list">
      <div *ngFor="let enchere of enchereList" class="mobilite-card">
        <div class="image-and-info">
            <div class="property text-secondary">
                <span class="labell">Code enchére </span>  
                <span class="p">{{ enchere.codeAcces }}</span>
            </div>
            <hr>

          <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="property text-secondary">
                        <span class="labell">Nombre Inscrits </span>  
                        <span class="p">{{ enchere.nombreCondidatsInscrits }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="property text-secondary">
                      <span class="labell">Nombre Restant </span>  
                      <span class="p">{{ enchere.nombreCondidatsRestants }}</span>
                  </div>
              </div>
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>
        
          <hr>
  
          <div class="enchere-image">
            <img [src]="'data:image/jpeg;base64,' + enchere.image" alt="Image de {{ enchere.nomProduit }}" class="flexible-image">
          </div>
          <hr>
  
  
          <div class="info">
           
            <div class="property text-secondary">
              <span class="label">Nom produit:</span>
              <span class="nomproduit">{{ enchere.nomProduit }}</span>
            </div>
            <div class="property text-secondary">
              <span class="label">Description produit:</span>
              <span class="description">{{ enchere.descriptionProduit }}</span>
            </div>
            <div class="property text-secondary">
              <span class="label"> Prix:</span>
              <span class="prix">{{ enchere.prix }} <span class="label">DT</span></span>
            </div>
            <div class="property text-secondary">
              <span class="label">Date:</span>
              <span class="date">{{ enchere.date }}</span>
            </div>
            <div class="property text-secondary">
              <span class="label">Heure:</span>
              <span class="heure">{{ enchere.heure }}</span>
            </div>
            <hr>
  
          </div>
        </div>
        <div class="button-container">
          <div class="top-buttons">
              <button (click)="navigateByIdEnchere(enchere)" class="inscription-button btn btn-primary">Condidats Inscrits</button>
              <button type="button" class="btn btn-danger" (click)="onDeleteEnchere(enchere.idEnchere)">Supprimer Enchere</button>
          </div>
          <div class="vertical-hr"></div>
          <div class="bottom-buttons">
              <button type="button" class="btn btn-primary" (click)="getdata(enchere.nomProduit, enchere.descriptionProduit, enchere.prix, enchere.date, enchere.heure, enchere.nombreCondidat, enchere.idEnchere, enchere.image)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Modifier Enchere
              </button>
              <button type="button" class="btn btn-danger" (click)="getdata2(enchere.idEnchere)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Terminer l'enchere
              </button>
          </div>
      </div>
      
        
      </div>
    </div>
  </div>
  
  
  <!-- history -->
  
  
  
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter Le Prix De Gagnant</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="score" data-label="Nom Fac:">
                  <label for="nom">Prix:</label>
              
                  <input  [(ngModel)]="encheree.prixGagnant"  type="text" id="prix" name="prix" placeholder="Entrez le prix"  />
          
              </div>        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  (click)="onSubmitt()" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  
  
  
   
  
    <!-- Modal Modifier -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier Enchere</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!--  Modifier -->
            <form class="row g-3">
              
              <div class="col-md-6">
                <label for="nomProduit" class="form-label">Nom produit</label>
                <input [(ngModel)]="enchereRequest.nomProduit " class="form-control" id="nomProduit" name="nomProduit"
                      >
            </div>
            <div class="col-md-6">
                <label for="descriptionProduit" class="form-label">Description de produit</label>
                <input [(ngModel)]="enchereRequest.descriptionProduit" class="form-control" id="descriptionProduit" name="descriptionProduit"
                       >
            </div>
            <div class="col-md-6">
                <label for="prixProduit" class="form-label">Prix produit</label>
                <input [(ngModel)]="enchereRequest.prix" class="form-control" id="prixProduit" name="prixProduit"
                       >
            </div>
            <div class="col-md-6">
              <label for="nombreCondidat" class="form-label">Nombre Condidat</label>
              <input [(ngModel)]="enchereRequest.nombreCondidat" class="form-control" id="nombreCondidat" name="nombreCondidat"
                     >
          </div>
             
              <div class="col-md-6">
                <label for="date" class="form-label">Date</label>
                <input [(ngModel)]="enchereRequest.date" type="date" class="form-control" id="date" name="date">
            </div>
            
            <div class="col-md-6">
              <label for="heure" class="form-label">Heure</label>
              <input [(ngModel)]="enchereRequest.heure" type="time" class="form-control" id="heure" name="heure">
          </div>
         
         
  
  
          
          <div class="col-3">
            <img class="rounded-1" width="100%" height="100%" [src]="'data:image/jpeg;base64,' + enchereRequest.image"alt="Not Found Image">
            <div class="mt-2">
              <input
                (change)="onFileSelected($event)"
                class="form-control"
                type="file"
                id="formFile"
                accept="image/*"
              >
            </div>
          </div>
             
            </form>
    <!--  Modifier -->
  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="onSubmit()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  