/* enchere.component.css */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 195px;
}
.submit-buttonn {
 
  margin-left: 150px;
}

.submit-button:hover {
  background-color: #0056b3;
}

  

  /* styles.scss ou styles.css */
.toast-top-right {
  top: 10px; /* Ajustez cette valeur si nécessaire */
  right: 10px; /* Ajustez cette valeur si nécessaire */
}

.toast-success {
  background-color: #28a745; /* Couleur de fond verte */
  color: #fff; /* Couleur du texte en blanc pour le contraste */
}

/* Optionnel : si vous souhaitez personnaliser le texte ou le titre */
.toast-title {
  color: #fff; /* Couleur du titre */
}

.toast-message {
  color: #fff; /* Couleur du message */
}
