<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="col-md-6 position-relative">
    <label for="type" class="form-label">Filtrer par Catégorie :</label>
    <select [(ngModel)]="selectedType" (change)="loadReclamation()" class="form-control custom-select" id="type" name="type">
        <option value="">Tous les Catégories</option>
        <option value="ProblemeEnchere">Problème d'Enchère</option>
        <option value="ProblemePaiement">Problème de Paiement</option>
        <option value="Problemecompteutilisateur">Problème de Compte Utilisateur</option>
        <option value="Problemetechnique">Problème Technique</option>
        <i class="fas fa-chevron-down position-absolute"></i>

    </select>
</div>

<div class="history-container">
    <h2 class="primary">Liste des Réclamations</h2>
    <div class="reclamation-list">
        <div *ngFor="let reclamation of reclamations" class="reclamation-card">
           
              
              
            <div class="reclamation-info">

                  <div class="propertyy" *ngIf="showResponse"@moveLeftRight>
                    <span class="valuee"[ngClass]="getEtatClass(reclamation.etat)">{{ getEtatDescription(reclamation.etat) }}</span>
                </div>
                <div class="property">
                    <span class="label">Réponse :</span>
                    <span class="value">{{ reclamation.reponse }}</span>
                </div>
                <div class="property">
                    <span class="label">Email :</span>
                    <span class="value">{{ reclamation.gmail }}</span>
                </div>
                <div class="property">
                    <span class="label">Prénom :</span>
                    <span class="value">{{ reclamation.firstname }}</span>
                </div>
                <div class="property">
                    <span class="label">Nom :</span>
                    <span class="value">{{ reclamation.lastname }}</span>
                </div>
                
                <div class="property">
                    <span class="label">Contenu :</span>
                    <span class="value">{{ reclamation.contenu }}</span>
                </div>
                <div class="property">
                    <span class="label">Type Reclamtion :</span>
                    <span class="value">{{ getTypeDescription(reclamation.type) }}
                    </span>
                </div>
                <button type="button" class="btn btn-danger" (click)="getreclamatindata(reclamation.idReclamation)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Repondre
                  </button>
            </div>
        </div>
    </div>
    <div *ngIf="message" class="alert alert-info custom-alert">
        {{ message }}
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Repondre a cette reclamation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="score" data-label="Nom Fac:">
                <label for="nom">Votre Reponse</label>
            
                <input  [(ngModel)]="reclamationn.reponse"  type="text" id="prix" name="prix" placeholder="Repondre"  />
        
            </div>        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button   (click)="onSubmitt()"  type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  